.background{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.background::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.img-glass{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 8.5rem);
    width: 55%;
}

button{
    height: 100%;
}